version: "3.9"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"

    volumes:
      - ollama_data:/root/.ollama
    
    command : >
      sh -c "
        ollama pull nomic-embed-text &&
        ollama pull smollm2 &&
        ollama serve
        "
    restart: unless-stopped

volumes:
  ollama_data: